<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<string></string>
	<key>channel</key>
	<string></string>
	<key>advertisingId</key>
	<string></string>
	<key>isProduction</key>
	<true/>
	<key>wechatAppId</key>
	<string>wxb610a04380ef85e1</string>
	<key>wechatAppSecret</key>
	<string>4e6d5732a4d2403f4c95f318a7df2455</string>
	<key>qqAppId</key>
	<string></string>
	<key>qqAppKey</key>
	<string></string>
	<key>sinaWeiboAppKey</key>
	<string>1865046692</string>
	<key>sinaWeiboAppSecret</key>
	<string>900d949fc73add3b5191d7dfd8636dbc</string>
	<key>sinaRedirectUri</key>
	<string></string>
	<key>facebookAppId</key>
	<string></string>
	<key>facebookDisplayName</key>
	<string></string>
	<key>isSupportWebSina</key>
	<true/>
</dict>
</plist>
